{% extends 'base.html' %}
{% block register %}
<h1>비밀번호 변경</h1>

<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p>아래 내용을 다시 확인하세요.</p>
    {% endif %}
    <div>
        <p>{{ form.old_password.label_tag }}</p> {{ form.old_password }}
        <p>{{ form.new_password1.label_tag }}</p> {{ form.new_password1 }}
        <p>{{ form.new_password2.label_tag }}</p> {{ form.new_password2 }}
    </div>

    <input type="submit" value="비밀번호 변경">

{% endblock %}

</form>