{% extends 'blog/base.html' %}
{% block content %}
<div>
        {% if user.is_authenticated %}
        <div>
         <a href="{% url 'blog:post_edit' pk=post.pk %} ">수정하기</a>
            <a href="{% url 'blog:post_remove' pk=post.pk %}">삭제하기</a>
            <a href="{% url 'blog:post_publish' pk=post.pk %}">배포하기</a>
        </div>
        {% endif %}
    <div>
        <hr>
            <h1 class="h1-title">타이틀: {{ post.title }}</h1>
        <hr>
            <p>{{ post.text|linebreaksbr }}</p>
        <hr>
            <p>{{ post.published_date }}</p>
            {% for post in post.tags.all %}
            <p>태그: {{ post }}</p>
            {% endfor %}
        <hr>
    </div>
{% if user.is_authenticated %}
        <a href="{% url 'blog:add_comment_to_post' pk=post.pk %}">댓글달기</a>
{% endif %}

{% if user.is_authenticated %}
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div>
                <div>
                    {{ comment.created_date}}
                        {% if not comment.approved_comment %}
                        <a href="{% url 'blog:comment_remove' pk=comment.pk %}">삭제</a>
                        <a href="{% url 'blog:comment_approve' pk=comment.pk %}">승인</a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaksbr }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>댓글이 없습니다.</p>
    {% endfor %}
{% endif %}
</div>
{% endblock %}