{% extends 'blog/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<nav>
    <a href="{% url 'blog:post_edit' pk=post.pk %} ">수정하기</a>
</nav>
{% endif %}
<div>

    {% if post.published_date %}
        <div>
            {{ post.published_date }}
        </div>
    {% else %}
    {% if user.is_authenticated %}
        <h3><a href="{% url 'blog:post_publish' pk=post.pk %}">배포하기</a></h3>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        <h3><a href="{% url 'blog:post_remove' pk=post.pk %}">삭제하기</a></h3>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
<hr>
<h3><a href="{% url 'blog:add_comment_to_post' pk=post.pk %}">댓글달기</a></h3>

{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
        <div>
            <div>
               {{ comment.created_date}}
               {% if not comment.approved_comment %}
                   <a href="{% url 'blog:comment_remove' pk=comment.pk %}">삭제</a>
                   <a href="{% url 'blog:comment_approve' pk=comment.pk %}">승인</a>
               {% endif %}
            </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaksbr }}</p>
        </div>
    {% endif %}
{% empty %}
        <p>첫 댓글을 작성하셈 디지기 싫으면</p>
{% endfor %}

{% endblock %}