{% extends 'blog/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<nav>
    <a href="{% url 'blog:post_edit' pk=post.pk %} ">수정하기</a>
</nav>
{% endif %}
<div>

    {% if post.published_date %}
        <div>
            {{ post.published_date }}
        </div>
    {% else %}
    {% if user.is_authenticated %}
        <h3><a href="{% url 'blog:post_publish' pk=post.pk %}">배포하기</a></h3>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        <h3><a href="{% url 'blog:post_remove' pk=post.pk %}">삭제하기</a></h3>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>


    {% for comment in post.comments.all %}
        <div>{{ comment.created_date}}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaksbr }}</p>
    {% empty %}
        <p>첫 댓글을 작성하셈 디지기 싫으면</p>
    {% endfor %}
</div>
{% endblock %}