@charset "utf-8";

/* html reset */
article,aside,details,figcaption,figure,
footer,header,main,menu,nav,section { 
    display:block;
}
.clearfix {
	*zoom:1;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;

}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: "Segoe UI",Arial,sans-serif ;
	line-height: 1.5;

}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
li {
	padding: 0;
	margin: 0;
}
a {	
	text-decoration: none;
}
p {
	margin: 0;
	text-align: justify;
}
img {
	border: 0;
	vertical-align: top;
}

.wrap {
	padding: 0px 30px;
	margin: auto;
	max-width: 1200px;
}

.dheader {
	/*background-color: #282828;*/
	/*padding: 25px;*/
}
/* all */
nav.base-nav ul li {
	display: inline-block;
}



@media screen and (max-width: 600px) {
	
	

}